extends layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        h1.text-center= title
        .panel.panel-login
          .panel-heading
          .panel-body
            .row
              .col-lg-12.tab-content
                #login.tab-pane.fade.in.active
                  form#login-form(method='post', action='/authenticate/')
                    .form-group
                      input#email.form-control(type='text', name="email", placeholder='Email')
                      small.form-text.text-muted The email address that you registered your membership with
                    .form-group
                      input#password.form-control(type='password', name="password", placeholder='Password')
                      small.form-text.text-muted
                        | Your password at Nexudus Spaces (reset or contact front desk if you have forgotten)
                    .form-group
                      .row
                        .col-md-6.col-md-offset-3
                          input(type='submit', class='form-control btn btn-primary', value='Submit')

                    input#mac(type='hidden', name="mac", value=mac)
                    input#ap(type='hidden', name="ap", value=ap)
                    input#url(type='hidden', name="url", value=url)
                    input#timestamp(type='hidden', name="timestamp", value=timestamp)
                    input#sitename(type='hidden', name="sitename", value=sitename)
                    input#ssid(type='hidden', name="ssid", value=ssid)